Repository GiantCroissant-Lunar/winged-bean: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, validate-doc-frontmatter, validate-issue-metadata

Path conditions:
  dotnet-format: any of: ^projects/dotnet/.*\.(cs|vb|fs)$
  validate-doc-frontmatter: any of: ^docs/(rfcs|adr)/.*\.md$, but not: ^docs/(rfcs|adr)/README\.md$
  validate-issue-metadata: any of: ^(\.github/ISSUE_TEMPLATE/.*\.(yml|yaml|md)|docs/implementation/.*\.md)$

chore(build): fix go-task YAML, remove PM2 launch of ConsoleDungeon.Host; rely on PTY service; add demo link to dev:status
  build/Taskfile.yml
Due: none

docs: add RFC 0019 and update immediate-actions checklist for console monolith removal
  docs/implementation/IMMEDIATE-ACTIONS-CHECKLIST.md
  docs/rfcs/0019-remove-legacy-consoledungeon-monolith.md
Due: validate-doc-frontmatter, validate-issue-metadata

test(input): add xterm + pty debug for arrow sequences; normalize SS3 to CSI and send both; add Playwright arrow-keys E2E; ensure window focus and SS3 rune fallback in ConsoleDungeonApp
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonApp.cs
  development/nodejs/pty-service/server.js
  development/nodejs/sites/docs/src/components/XTerm.astro
  development/nodejs/tests/e2e/arrow-keys.spec.js
Due: none

feat: implement RFC-0020 & RFC-0021 scene service and input routing
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonApp.cs.backup
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonAppRefactored.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/Input/DefaultInputMapper.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/Input/DefaultInputRouter.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/Input/GameplayInputScope.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/Scene/TerminalGuiSceneProvider.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/WingedBean.Plugins.ConsoleDungeon.csproj
  development/dotnet/framework/Framework.sln
  development/dotnet/framework/src/WingedBean.Contracts.Input/IInputMapper.cs
  development/dotnet/framework/src/WingedBean.Contracts.Input/IInputRouter.cs
  development/dotnet/framework/src/WingedBean.Contracts.Input/IInputScope.cs
  development/dotnet/framework/src/WingedBean.Contracts.Input/IsExternalInit.cs
  development/dotnet/framework/src/WingedBean.Contracts.Input/RawKeyEvent.cs
  development/dotnet/framework/src/WingedBean.Contracts.Input/WingedBean.Contracts.Input.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Scene/ISceneService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Scene/IsExternalInit.cs
  development/dotnet/framework/src/WingedBean.Contracts.Scene/SceneShutdownEventArgs.cs
  development/dotnet/framework/src/WingedBean.Contracts.Scene/Viewport.cs
  development/dotnet/framework/src/WingedBean.Contracts.Scene/WingedBean.Contracts.Scene.csproj
  docs/implementation/rfc-0020-0021-implementation-summary.md
Due: validate-issue-metadata

fix: resolve Terminal.Gui compilation and complete RFC-0020/0021 tests
  development/dotnet/Directory.Packages.props
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/Scene/TerminalGuiSceneProvider.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.ConsoleDungeon.Tests/Input/DefaultInputMapperTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.ConsoleDungeon.Tests/Input/DefaultInputRouterTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.ConsoleDungeon.Tests/WingedBean.Plugins.ConsoleDungeon.Tests.csproj
  docs/implementation/rfc-0020-0021-status-update.md
Due: validate-issue-metadata

docs: mark RFC-0020 & RFC-0021 as Implemented with completion report
  docs/implementation/RFC-0020-0021-COMPLETION.md
  docs/rfcs/0020-scene-service-and-terminal-ui-separation.md
  docs/rfcs/0021-input-mapping-and-scoped-routing.md
Due: validate-doc-frontmatter, validate-issue-metadata

fix: update FakeDriver test to Terminal.Gui v2 API
  development/dotnet/console/tests/host/ConsoleDungeon.Host.Tests/ConsoleDungeonApp_FakeDriverTests.cs
Due: none

feat(figmasharp): add Tier 1 contracts - FigmaSharp core types and interfaces
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/Color.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/FObject.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/FigmaEnums.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/IFigmaTransformer.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/IUIRenderer.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/LayoutData.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/StyleData.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/UIElement.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/Vector2.cs
  development/dotnet/framework/src/WingedBean.Contracts.FigmaSharp/WingedBean.Contracts.FigmaSharp.csproj
Due: none

feat(figmasharp): add Tier 2 core transformation logic
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/AlignmentMapper.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/AutoLayoutTransformer.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/ElementTypeMapper.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/FigmaToUIPipeline.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/FigmaTransformer.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/LayoutCalculator.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/PaddingCalculator.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/SizeModeCalculator.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/StyleBuilder.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/WingedBean.FigmaSharp.Core.csproj
Due: none

feat(figmasharp): add Terminal.Gui renderer plugin
  development/dotnet/console/src/plugins/WingedBean.Plugins.FigmaSharp.TerminalGui/TerminalGuiRenderer.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.FigmaSharp.TerminalGui/TerminalGuiRendererPlugin.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.FigmaSharp.TerminalGui/WingedBean.Plugins.FigmaSharp.TerminalGui.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.FigmaSharp.TerminalGui/WingedBean.Plugins.FigmaSharp.TerminalGui.plugin.json
Due: none

chore(figmasharp): update solution and package references
  development/dotnet/framework/Framework.sln
Due: none

test(figmasharp): add comprehensive unit tests for core transformation logic
  development/dotnet/framework/Framework.sln
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/AssemblyInfo.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/StyleBuilder.cs
  development/dotnet/framework/tests/WingedBean.FigmaSharp.Core.Tests/AlignmentMapperTests.cs
  development/dotnet/framework/tests/WingedBean.FigmaSharp.Core.Tests/AutoLayoutTransformerTests.cs
  development/dotnet/framework/tests/WingedBean.FigmaSharp.Core.Tests/FigmaTransformerTests.cs
  development/dotnet/framework/tests/WingedBean.FigmaSharp.Core.Tests/LayoutCalculatorTests.cs
  development/dotnet/framework/tests/WingedBean.FigmaSharp.Core.Tests/SizeModeCalculatorTests.cs
  development/dotnet/framework/tests/WingedBean.FigmaSharp.Core.Tests/WingedBean.FigmaSharp.Core.Tests.csproj
Due: none

feat(figmasharp): enhance layout transformation with rotation and advanced features
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/AutoLayoutTransformer.cs
  development/dotnet/framework/src/WingedBean.FigmaSharp.Core/LayoutCalculator.cs
Due: none

feat(figmasharp): add demo application showing Figma to Terminal.Gui transformation
  development/dotnet/console/src/demos/WingedBean.FigmaSharp.Demo/Program.cs
  development/dotnet/console/src/demos/WingedBean.FigmaSharp.Demo/README.md
  development/dotnet/console/src/demos/WingedBean.FigmaSharp.Demo/WingedBean.FigmaSharp.Demo.csproj
Due: none

feat(figmasharp): enhance Terminal.Gui renderer and complete RFC-0025
  2025-10-04-caveat-the-messages-below-were-generated-by-the-u-001.txt
  build/AGENTS.md
  build/test-tools/ws-send-keys.js
  development/dotnet/AGENTS.md
  development/dotnet/Directory.Build.props
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/WingedBean.Plugins.DungeonGame.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.FigmaSharp.TerminalGui/TerminalGuiRenderer.cs
  development/nodejs/2025-10-03-caveat-the-messages-below-were-generated-by-the-u-008.txt
  development/nodejs/playwright-report/data/dbc87dbf22f84cac81d5e1808af89f12a7f745bd.md
  development/nodejs/playwright-report/index.html
  development/nodejs/pty-service/test-results/.last-run.json
  development/nodejs/test-results/.last-run.json
  development/nodejs/test-results/arrow-keys-debug-Arrow-key-d8223-each-arrow-key-individually-chromium/error-context.md
  docs/design/figmasharp-architecture-analysis.md
  docs/implementation/figmasharp-implementation-guide.md
  docs/rfcs/0022-figmasharp-core-architecture.md
  docs/rfcs/0023-figmasharp-layout-transformation.md
  docs/rfcs/0024-figmasharp-plugin-integration.md
  docs/rfcs/0025-figmasharp-renderer-implementations.md
  docs/rfcs/0026-input-action-system.md
  docs/rfcs/README.md
Due: validate-doc-frontmatter, validate-issue-metadata

fix(figmasharp): add plugin manifest to build output
  build/Taskfile.yml
  build/_artifacts/dev-docs-dev.log
  development/dotnet/console/src/plugins/WingedBean.Plugins.FigmaSharp.TerminalGui/WingedBean.Plugins.FigmaSharp.TerminalGui.csproj
  development/nodejs/ecosystem.config.js
Due: none

feat(console): add ToPlainText method to RenderBuffer
  development/dotnet/framework/src/WingedBean.Contracts.Game/RenderBuffer.cs
Due: none

refactor(console): improve TerminalGuiSceneProvider rendering
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/Scene/TerminalGuiSceneProvider.cs
Due: none

debug(console): add diagnostic logging to ConsoleDungeonApp
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonApp.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/Services/RenderServiceProvider.cs
Due: none

refactor(console): switch to ConsoleDungeonAppRefactored implementation
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonPlugin.cs
Due: none

fix(console): resolve plugin paths relative to executable directory
  development/dotnet/console/src/host/ConsoleDungeon.Host/Program.cs
Due: none

chore(dotnet): add global.json for SDK version locking
  development/dotnet/global.json
Due: none

chore(dotnet): add Central Package Management for test directories
  development/dotnet/console/Directory.Packages.props.disabled
  development/dotnet/console/tests/Directory.Packages.props
  development/dotnet/framework/tests/Directory.Packages.props
Due: none

refactor(console): convert ConsoleDungeon.Host to top-level statements with ILogger
  development/dotnet/console/src/host/ConsoleDungeon.Host/Program.cs
Due: none

refactor(console): move TerminalGui.PtyHost to demos directory
  development/dotnet/console/src/demos/TerminalGui.PtyHost/Program.cs
  development/dotnet/console/src/demos/TerminalGui.PtyHost/TerminalGui.PtyHost.csproj
Due: none

docs(rfcs): add RFC-0028 and RFC-0029 for contract reorganization and hosting
  docs/rfcs/0028-contract-reorganization-terminal-recorder.md
  docs/rfcs/0029-terminal-app-hosted-service-integration.md
Due: validate-doc-frontmatter

wip(contracts): partial implementation of RFC-0028 contract reorganization
  development/dotnet/framework/src/WingedBean.Contracts.Pty/IPtyService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Recorder/IRecorder.cs
  development/dotnet/framework/src/WingedBean.Contracts.Recorder/WingedBean.Contracts.Recorder.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/ITerminalApp.cs
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/WingedBean.Contracts.Terminal.csproj
Due: none

chore(dotnet): add Scrutor to Central Package Management
  development/dotnet/Directory.Packages.props
Due: none

refactor(console): remove obsolete ConsoleDungeonApp implementation
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonApp.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonApp.cs.backup
Due: none

chore(console): update plugin configurations and project references
  development/dotnet/console/Console.sln
  development/dotnet/console/src/host/ConsoleDungeon.Host/ConsoleDungeon.Host.csproj
  development/dotnet/console/src/host/ConsoleDungeon.Host/plugins.json
  development/dotnet/console/src/host/WingedBean.Host.Console/AlcPluginLoader.cs
  development/dotnet/console/src/host/WingedBean.Host.Console/LoadedPlugin.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ArchECS/WingedBean.Plugins.ArchECS.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.Config/WingedBean.Plugins.Config.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/.plugin.json
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/DungeonGame.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/WingedBean.Plugins.DungeonGame.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.TerminalUI/WingedBean.Plugins.TerminalUI.csproj
  development/dotnet/console/tests/host/ConsoleDungeon.Host.Tests/ConsoleDungeonApp_FakeDriverTests.cs
Due: none

chore: configure MCP servers for filesystem and GitHub integration
  .mcp.json
Due: none

chore: remove temporary message file
  2025-10-04-caveat-the-messages-below-were-generated-by-the-u-001.txt
Due: none

feat(console): add plugin activators for new plugin architecture
  development/dotnet/console/src/plugins/WingedBean.Plugins.ArchECS/ArchECSPluginActivator.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Config/ConfigPluginActivator.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/DungeonGamePluginActivator.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.TerminalUI/TerminalUIPluginActivator.cs
Due: none

feat(console): add Resource plugin with tests (RFC-0027)
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/.plugin.json
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/FileSystemResourceService.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/README.md
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/ResourceBundle.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/ResourceBundleBuilder.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/ResourceBundleManifest.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/ResourceCache.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/ResourcePluginActivator.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/WingedBean.Plugins.Resource.csproj
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resource.Tests/BuildGameBundleTest.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resource.Tests/FileSystemResourceServiceTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resource.Tests/ResourceBundleTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resource.Tests/ResourceCacheTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resource.Tests/ResourcePluginIntegrationTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resource.Tests/WingedBean.Plugins.Resource.Tests.csproj
Due: none

feat(console): add game bundle build script and resource directories
  development/dotnet/console/build-game-bundle.sh
  development/dotnet/console/game-resources/dungeons/level-01.json
  development/dotnet/console/game-resources/enemies/goblin.json
  development/dotnet/console/game-resources/enemies/orc.json
  development/dotnet/console/game-resources/items/health-potion.json
  development/dotnet/console/game-resources/items/iron-sword.json
  development/dotnet/console/game-resources/players/starter-stats.json
  development/dotnet/console/src/host/ConsoleDungeon.Host/resources/game-data.wbundle
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/Data/EntityFactory.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/Data/GameResourceData.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/Data/ResourceLoader.cs
Due: none

docs: add RFC-0027 resource service and implementation docs
  docs/IMPLEMENTATION-SUMMARY.md
  docs/implementation/PLUGIN-ARCHITECTURE-ADJUSTMENTS.md
  docs/implementation/rfc-0027-container-architecture-update.md
  docs/implementation/rfc-0027-execution-plan.md
  docs/rfcs/0027-resource-service-console-implementation.md
Due: validate-doc-frontmatter, validate-issue-metadata

chore: ignore debug logs and build output files
  .gitignore
Due: none

docs: Add observability RFCs for Sentry and OpenTelemetry integration
  docs/guides/observability-quick-start.md
  docs/implementation/observability-implementation-summary.md
  docs/rfcs/0033-observability-strategy-foundation.md
  docs/rfcs/0034-sentry-integration-error-tracking.md
  docs/rfcs/0035-opentelemetry-integration-distributed-tracing.md
Due: validate-doc-frontmatter, validate-issue-metadata
