Repository GiantCroissant-Lunar/winged-bean: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

Path conditions:
  dotnet-format-whitespace: any of: ^projects/dotnet/.*\.(cs|vb|fs)$
  dotnet-format-style: any of: ^projects/dotnet/.*\.(cs|vb|fs)$
  jetbrains-cleanup: any of: ^projects/dotnet/.*\.(cs|vb|fs)$
  jetbrains-inspect: any of: ^projects/dotnet/.*\.(cs|vb|fs|sln|csproj|vbproj|fsproj)$

feat: Add Terraform Cloud automation scripts and update README
  README.md
  infra/terraform/scripts/Apply-SecretsJson.ps1
  infra/terraform/scripts/BulkApply-TfcVariables.ps1
  infra/terraform/scripts/Encrypt-Secrets.ps1
  infra/terraform/scripts/Get-TfcOutputs.ps1
  infra/terraform/scripts/Get-TfcRunStatus.ps1
  infra/terraform/scripts/New-AgeKeyPair.ps1
  infra/terraform/scripts/Queue-TfcRun.ps1
  infra/terraform/scripts/README.md
  infra/terraform/scripts/Set-TfcVariable.ps1
  infra/terraform/scripts/variables.sample.json
Due: none

feat: Configure Renovate for multi-language dependency management
  renovate.json
Due: none

docs: Add comprehensive Renovate setup guide
  docs/development/RENOVATE_SETUP.md
Due: none

feat: Add enhanced Gemini AI code review configuration
  .gemini/config.yaml
  .gemini/styleguide.md
Due: none

refactor: reorganize console host projects into tier-based structure
  projects/dotnet/console/src/host/ConsoleDungeon.Host/ConsoleDungeon.Host.csproj
  projects/dotnet/console/src/host/ConsoleDungeon.Host/Program.cs
  projects/dotnet/console/src/host/ConsoleDungeon/ConsoleDungeon.csproj
  projects/dotnet/console/src/host/ConsoleDungeon/Program.cs
  projects/dotnet/console/src/host/ConsoleDungeon/appsettings.json
  projects/dotnet/console/src/host/TerminalGui.PtyHost/Program.cs
  projects/dotnet/console/src/host/TerminalGui.PtyHost/TerminalGui.PtyHost.csproj
  projects/dotnet/console/src/host/WingedBean.Host.Console/AlcPluginLoader.cs
  projects/dotnet/console/src/host/WingedBean.Host.Console/LoadedPlugin.cs
  projects/dotnet/console/src/host/WingedBean.Host.Console/WingedBean.Host.Console.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

refactor: reorganize console plugin projects into tier-based structure
  projects/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/AsciinemaRecorder.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/AsciinemaRecorder.plugin.json
  projects/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/AsciinemaRecorderPlugin.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/WingedBean.Plugins.AsciinemaRecorder.csproj
  projects/dotnet/console/src/plugins/WingedBean.Plugins.Config/ConfigSection.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.Config/ConfigService.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.Config/README.md
  projects/dotnet/console/src/plugins/WingedBean.Plugins.Config/WingedBean.Plugins.Config.csproj
  projects/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/.plugin.json
  projects/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonApp.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonPlugin.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/WingedBean.Plugins.ConsoleDungeon.csproj
  projects/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/.plugin.json
  projects/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/NodePtyService.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/PtyServicePlugin.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/WingedBean.Plugins.PtyService.csproj
  projects/dotnet/console/src/plugins/WingedBean.Plugins.TerminalUI/.plugin.json
  projects/dotnet/console/src/plugins/WingedBean.Plugins.TerminalUI/TerminalGuiService.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.TerminalUI/WingedBean.Plugins.TerminalUI.csproj
  projects/dotnet/console/src/plugins/WingedBean.Plugins.WebSocket/.plugin.json
  projects/dotnet/console/src/plugins/WingedBean.Plugins.WebSocket/README.md
  projects/dotnet/console/src/plugins/WingedBean.Plugins.WebSocket/SuperSocketWebSocketService.cs
  projects/dotnet/console/src/plugins/WingedBean.Plugins.WebSocket/WingedBean.Plugins.WebSocket.csproj
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.Config.Tests/ConfigServiceTests.cs
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.Config.Tests/WingedBean.Plugins.Config.Tests.csproj
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.TerminalUI.Tests/TerminalGuiServiceTests.cs
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.TerminalUI.Tests/WingedBean.Plugins.TerminalUI.Tests.csproj
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.WebSocket.Tests/SuperSocketWebSocketServiceTests.cs
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.WebSocket.Tests/WingedBean.Plugins.WebSocket.Tests.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

refactor: reorganize console providers and shared infrastructure
  projects/dotnet/console/src/providers/WingedBean.Providers.AssemblyContext/AssemblyContextProvider.cs
  projects/dotnet/console/src/providers/WingedBean.Providers.AssemblyContext/README.md
  projects/dotnet/console/src/providers/WingedBean.Providers.AssemblyContext/WingedBean.Providers.AssemblyContext.csproj
  projects/dotnet/console/src/shared/WingedBean.PluginLoader/ActualPluginLoader.cs
  projects/dotnet/console/src/shared/WingedBean.PluginLoader/LoadedPluginWrapper.cs
  projects/dotnet/console/src/shared/WingedBean.PluginLoader/README.md
  projects/dotnet/console/src/shared/WingedBean.PluginLoader/WingedBean.PluginLoader.csproj
  projects/dotnet/console/tests/providers/WingedBean.Providers.AssemblyContext.Tests/AssemblyContextProviderTests.cs
  projects/dotnet/console/tests/providers/WingedBean.Providers.AssemblyContext.Tests/AssemblyContextProviderThreadSafetyTests.cs
  projects/dotnet/console/tests/providers/WingedBean.Providers.AssemblyContext.Tests/WingedBean.Providers.AssemblyContext.Tests.csproj
  projects/dotnet/console/tests/shared/WingedBean.PluginLoader.Tests/ActualPluginLoaderTests.cs
  projects/dotnet/console/tests/shared/WingedBean.PluginLoader.Tests/WingedBean.PluginLoader.Tests.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

refactor: move shared contracts and host infrastructure to proper locations
  projects/dotnet/framework/src/WingedBean.Contracts.Pty/IPtyService.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Pty/IRecorder.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Pty/ITerminalApp.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Pty/WingedBean.Contracts.Pty.csproj
  projects/dotnet/shared/WingedBean.Host/HostBootstrap.cs
  projects/dotnet/shared/WingedBean.Host/ILoadedPlugin.cs
  projects/dotnet/shared/WingedBean.Host/IPluginActivator.cs
  projects/dotnet/shared/WingedBean.Host/IPluginLoader.cs
  projects/dotnet/shared/WingedBean.Host/PluginDependencyResolver.cs
  projects/dotnet/shared/WingedBean.Host/PluginDiscovery.cs
  projects/dotnet/shared/WingedBean.Host/PluginManifest.cs
  projects/dotnet/shared/WingedBean.Host/PluginRegistry.cs
  projects/dotnet/shared/WingedBean.Host/PluginSecurity.cs
  projects/dotnet/shared/WingedBean.Host/PluginState.cs
  projects/dotnet/shared/WingedBean.Host/PluginUpdateManager.cs
  projects/dotnet/shared/WingedBean.Host/SemanticVersion.cs
  projects/dotnet/shared/WingedBean.Host/WingedBean.Host.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

feat: update PTY service to use reorganized TerminalGui.PtyHost
  projects/nodejs/pty-service/.eslintrc.json
  projects/nodejs/pty-service/server.js
  projects/nodejs/sites/docs/src/pages/index.astro
Due: none

refactor: Move Framework.sln to correct location
  projects/dotnet/framework/Framework.sln
Due: jetbrains-inspect

refactor: Reorganize orphaned projects into workspace structure
  projects/dotnet/WingedBean.Host.Unity/WingedBean.Host.Unity.csproj
  projects/dotnet/console/src/demos/WingedBean.Demo/Program.cs
  projects/dotnet/console/src/demos/WingedBean.Demo/WingedBean.Demo.csproj
  projects/dotnet/shared/tests/WingedBean.Host.Tests/AdvancedPluginFeaturesTests.cs
  projects/dotnet/shared/tests/WingedBean.Host.Tests/E2E/AdvancedPluginScenariosE2ETests.cs
  projects/dotnet/shared/tests/WingedBean.Host.Tests/Integration/PluginLifecycleIntegrationTests.cs
  projects/nodejs/pnpm-lock.yaml
  projects/nodejs/pty-service/server.js
  projects/nodejs/sites/docs/src/components/XTerm.astro
  projects/unity/WingedBean.Host.Unity/HybridClrPluginLoader.cs
  projects/unity/WingedBean.Host.Unity/LoadedUnityPlugin.cs
  projects/unity/WingedBean.Host.Unity/UnityPluginHotReloadManager.cs
  projects/unity/WingedBean.Host.Unity/UnityPluginSecurity.cs
  projects/unity/WingedBean.Host.Unity/WingedBean.Host.Unity.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

build: Add Nuke build automation project
  build/nuke/.nuke/parameters.json
  build/nuke/build.cmd
  build/nuke/build.ps1
  build/nuke/build.sh
  build/nuke/build/.editorconfig
  build/nuke/build/Build.cs
  build/nuke/build/Configuration.cs
  build/nuke/build/Directory.Build.props
  build/nuke/build/Directory.Build.targets
  build/nuke/build/_build.csproj
  build/nuke/build/_build.csproj.DotSettings
Due: none

Update WingedBean.Contracts.Core to netstandard2.1 for Unity/Godot compatibility (#125)
  projects/dotnet/framework/src/WingedBean.Contracts.Core/PolyfillAttributes.cs
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

Update WingedBean.Contracts.Config and Core to netstandard2.1 (#128)
  projects/dotnet/framework/src/WingedBean.Contracts.Config/ConfigChangedEventArgs.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/IConfigSection.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/IConfigService.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/IsExternalInit.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/ProxyService.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/RequiredMemberAttribute.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/SetsRequiredMembersAttribute.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/WingedBean.Contracts.Config.csproj
  projects/dotnet/framework/src/WingedBean.Contracts.Core/Attributes.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/Exceptions.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/IPlugin.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/IPluginLoader.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/IRegistry.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/IsExternalInit.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/PluginManifest.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/RequiredMemberAttribute.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/ServiceMetadata.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/SetsRequiredMembersAttribute.cs
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

Update WingedBean.Plugins.ConsoleDungeon and dependencies to net8.0 (#133)
  projects/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/WingedBean.Plugins.ConsoleDungeon.csproj
  projects/dotnet/shared/WingedBean.Host/WingedBean.Host.csproj
Due: jetbrains-inspect

Update WingedBean.Plugins.PtyService and dependencies to net8.0 (#137)
  projects/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/WingedBean.Plugins.PtyService.csproj
Due: jetbrains-inspect

Update WingedBean.Plugins.WebSocket and dependencies to net8.0 (#139)
  projects/dotnet/console/src/plugins/WingedBean.Plugins.WebSocket/WingedBean.Plugins.WebSocket.csproj
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.WebSocket.Tests/WingedBean.Plugins.WebSocket.Tests.csproj
  projects/dotnet/framework/src/WingedBean.Contracts.WebSocket/WingedBean.Contracts.WebSocket.csproj
Due: jetbrains-inspect

Update WingedBean.Contracts.WebSocket and Core to netstandard2.1 (#130)
  projects/dotnet/framework/src/WingedBean.Contracts.Core/CompilerAttributes.cs
  projects/dotnet/framework/src/WingedBean.Contracts.WebSocket/WingedBean.Contracts.WebSocket.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

Update Core and TerminalUI to netstandard2.1 (#131)
  projects/dotnet/framework/src/WingedBean.Contracts.TerminalUI/ProxyService.cs
  projects/dotnet/framework/src/WingedBean.Contracts.TerminalUI/WingedBean.Contracts.TerminalUI.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

Update WingedBean.Registry and WingedBean.Contracts.Core to netstandard2.1 (#138)
  projects/dotnet/framework/src/WingedBean.Contracts.Core/PluginManifest.cs
  projects/dotnet/framework/src/WingedBean.Registry/ActualRegistry.cs
  projects/dotnet/framework/src/WingedBean.Registry/WingedBean.Registry.csproj
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

Update WingedBean.Plugins.Config to net8.0 with dependencies (#140)
  projects/dotnet/console/src/plugins/WingedBean.Plugins.Config/README.md
  projects/dotnet/console/src/plugins/WingedBean.Plugins.Config/WingedBean.Plugins.Config.csproj
  projects/dotnet/console/tests/plugins/WingedBean.Plugins.Config.Tests/WingedBean.Plugins.Config.Tests.csproj
  projects/dotnet/framework/src/WingedBean.Contracts.Config/WingedBean.Contracts.Config.csproj
Due: jetbrains-inspect

Verify all 7 Tier 1 contracts build together successfully (#141)
  docs/implementation/tier1-build-verification.md
  projects/dotnet/framework/Framework.sln
  projects/dotnet/framework/src/WingedBean.Contracts.Config/RequiredMemberAttribute.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/SetsRequiredMembersAttribute.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Config/WingedBean.Contracts.Config.csproj
  projects/dotnet/framework/src/WingedBean.Contracts.Core/PolyfillAttributes.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/RequiredMemberAttribute.cs
  projects/dotnet/framework/src/WingedBean.Contracts.Core/SetsRequiredMembersAttribute.cs
Due: dotnet-format-whitespace, dotnet-format-style, jetbrains-cleanup, jetbrains-inspect

docs: add RFC-0005, RFC-0006, RFC-0007 specifications
  docs/rfcs/0005-target-framework-compliance.md
  docs/rfcs/0006-dynamic-plugin-loading.md
  docs/rfcs/0007-arch-ecs-integration.md
  docs/rfcs/README.md
Due: none

docs: add RFC execution plans for 0005, 0006, 0007
  docs/implementation/rfc-0005-execution-plan.md
  docs/implementation/rfc-0006-execution-plan.md
  docs/implementation/rfc-0007-execution-plan.md
Due: none

docs: add design roadmap and immediate actions checklist
  docs/design/dungeon-crawler-ecs-roadmap.md
  docs/implementation/IMMEDIATE-ACTIONS-CHECKLIST.md
Due: none

chore: add automation scripts and AI agent configurations
  .agent/README.md
  .agent/adapters/claude.md
  .agent/adapters/copilot.md
  .agent/adapters/windsurf.md
  .agent/base/00-index.md
  .agent/base/10-principles.md
  .agent/base/20-rules.md
  .agent/base/30-glossary.md
  .agent/meta/adapter-template.md
  .agent/meta/changelog.md
  .agent/meta/versioning.md
  .windsurf/rules.md
  scripts/create-github-issues.sh
Due: none

chore: exclude markdown files from trailing whitespace check
  .pre-commit-config.yaml
Due: none

fix: remove invalid PLUGINS configuration from MegaLinter
  .mega-linter.yml
Due: none

chore: clean up .mega-linter.yml configuration
  .mega-linter.yml
Due: none

fix: remove invalid linter names from DISABLE_LINTERS
  .mega-linter.yml
Due: none

chore: disable v8r schema validator for MegaLinter config
  .mega-linter.yml
Due: none

RFC-0005 Phase 3 Wave 3.4: Fix framework targeting and verify WingedBean.sln builds successfully (#142)
  .mega-linter.yml
  development/dotnet/WingedBean.sln
  development/dotnet/WingedBean.sln.backup
  development/dotnet/console-dungeon/ConsoleDungeon/ConsoleDungeon.csproj
  development/dotnet/console/src/demos/WingedBean.Demo/WingedBean.Demo.csproj
  development/dotnet/console/src/host/ConsoleDungeon.Host/ConsoleDungeon.Host.csproj
  development/dotnet/console/src/host/ConsoleDungeon/ConsoleDungeon.csproj
  development/dotnet/console/src/host/TerminalGui.PtyHost/TerminalGui.PtyHost.csproj
  development/dotnet/console/src/host/WingedBean.Host.Console/WingedBean.Host.Console.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/WingedBean.Plugins.AsciinemaRecorder.csproj
  development/dotnet/console/src/shared/WingedBean.PluginLoader/WingedBean.PluginLoader.csproj
  development/dotnet/console/tests/plugins/WingedBean.Plugins.TerminalUI.Tests/WingedBean.Plugins.TerminalUI.Tests.csproj
  development/dotnet/console/tests/shared/WingedBean.PluginLoader.Tests/WingedBean.PluginLoader.Tests.csproj
  development/dotnet/framework/tests/WingedBean.Registry.Tests/WingedBean.Registry.Tests.csproj
  docs/implementation/rfc-0005-wingedbean-sln-verification.md
Due: none

Create WingedBean.SourceGenerators.Proxy project for proxy service generation (#143)
  development/dotnet/framework/Framework.sln
  development/dotnet/framework/src/WingedBean.SourceGenerators.Proxy/ProxyServiceGenerator.cs
  development/dotnet/framework/src/WingedBean.SourceGenerators.Proxy/WingedBean.SourceGenerators.Proxy.csproj
Due: none

docs: update agent instruction pointer files
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

Implement proxy service source generator for cross-tier delegation (#144)
  development/dotnet/framework/Framework.sln
  development/dotnet/framework/src/WingedBean.Contracts.Audio/ProxyService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Audio/WingedBean.Contracts.Audio.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Config/ProxyService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Config/WingedBean.Contracts.Config.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Resource/ProxyService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Resource/WingedBean.Contracts.Resource.csproj
  development/dotnet/framework/src/WingedBean.Contracts.TerminalUI/ProxyService.cs
  development/dotnet/framework/src/WingedBean.Contracts.TerminalUI/WingedBean.Contracts.TerminalUI.csproj
  development/dotnet/framework/src/WingedBean.Contracts.WebSocket/ProxyService.cs
  development/dotnet/framework/src/WingedBean.Contracts.WebSocket/WingedBean.Contracts.WebSocket.csproj
  development/dotnet/framework/src/WingedBean.SourceGenerators.Proxy/ProxyServiceGenerator.cs
  development/dotnet/framework/tests/WingedBean.SourceGenerators.Proxy.Tests/ProxyServiceGeneratorTests.cs
  development/dotnet/framework/tests/WingedBean.SourceGenerators.Proxy.Tests/WingedBean.SourceGenerators.Proxy.Tests.csproj
Due: none

Integrate source generator into plugin projects (#145)
  development/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/WingedBean.Plugins.AsciinemaRecorder.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.Config/WingedBean.Plugins.Config.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/WingedBean.Plugins.ConsoleDungeon.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/WingedBean.Plugins.PtyService.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.TerminalUI/WingedBean.Plugins.TerminalUI.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.WebSocket/WingedBean.Plugins.WebSocket.csproj
Due: none

RFC-0005 Phase 5 Wave 5.1: Complete full solution build verification (#146)
  docs/implementation/rfc-0005-phase5-wave1-verification.md
Due: none
