Repository GiantCroissant-Lunar/winged-bean: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, validate-doc-frontmatter, validate-issue-metadata

Path conditions:
  dotnet-format: any of: ^projects/dotnet/.*\.(cs|vb|fs)$
  validate-doc-frontmatter: any of: ^docs/(rfcs|adr)/.*\.md$, but not: ^docs/(rfcs|adr)/README\.md$
  validate-issue-metadata: any of: ^(\.github/ISSUE_TEMPLATE/.*\.(yml|yaml|md)|docs/implementation/.*\.md)$

docs(rfcs): Add Analytics, Diagnostics, and NuGet.Versioning RFCs
  docs/rfcs/0030-analytics-service.md
  docs/rfcs/0031-diagnostics-service.md
  docs/rfcs/0032-nuget-versioning-migration.md
Due: validate-doc-frontmatter

refactor(docs): Move observability documentation out of rfcs directory
  development/dotnet/framework/src/WingedBean.Contracts.Diagnostics/DiagnosticsModels.cs
  development/dotnet/framework/src/WingedBean.Contracts.Diagnostics/IDiagnosticsService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Diagnostics/WingedBean.Contracts.Diagnostics.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Resilience/IResilienceService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Resilience/ProxyService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Resilience/ResilienceEventArgs.cs
  development/dotnet/framework/src/WingedBean.Contracts.Resilience/ResilienceOptions.cs
  development/dotnet/framework/src/WingedBean.Contracts.Resilience/ResilienceStatistics.cs
  development/dotnet/framework/src/WingedBean.Contracts.Resilience/WingedBean.Contracts.Resilience.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/LegacyTerminalAppAdapter.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/FileSystemPermissions.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/IPluginSignatureVerifier.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/IPluginUpdateManager.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/NetworkPermissions.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginPermissions.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginSearchCriteria.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginSignature.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginUpdateAvailableEventArgs.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginUpdateErrorEventArgs.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginUpdateEventArgs.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginUpdateManager.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginUpdateRecord.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginUpdateType.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/ProcessPermissions.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/RsaPluginSignatureVerifier.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/SecurityLevel.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/SystemPermissions.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/VersionExtensions.cs
  docs/implementation/nuget-versioning-migration-summary.md
  docs/observability/CODE-ADJUSTMENT-SUMMARY.md
  docs/observability/OBSERVABILITY-STACK.md
  docs/observability/RFC-ALIGNMENT-ANALYSIS.md
  docs/observability/RFC-UPDATE-SUMMARY.md
  docs/rfcs/0036-platform-agnostic-hosting-abstraction.md
Due: validate-doc-frontmatter, validate-issue-metadata

feat(contracts): Add Analytics, Diagnostics, and Resilience service contracts
  development/dotnet/framework/src/WingedBean.Contracts.Analytics/AnalyticsModels.cs
  development/dotnet/framework/src/WingedBean.Contracts.Analytics/IAnalyticsService.cs
  development/dotnet/framework/src/WingedBean.Contracts.Analytics/WingedBean.Contracts.Analytics.csproj
Due: none

feat(plugin-system): Add security, signature verification, and update management
  docs/deployment/deployment-platform-survey.md
  docs/design/AUDIO-INTEGRATION-ANALYSIS.md
  docs/handover/NEXT-SESSION.md
  docs/handover/SESSION-2025-10-03-SUMMARY.md
  docs/handover/SESSION-COMPLETE.md
  docs/handover/SESSION-HANDOVER-2025-10-03.md
  docs/handover/TERMINAL_GUI_PTY_STATUS.md
  docs/implementation/IMPLEMENTATION-SUMMARY.md
Due: validate-issue-metadata

docs: Reorganize scattered documentation into subfolders
  docs/handover/NEXT-SESSION.md
  docs/handover/SESSION-2025-10-03-SUMMARY.md
  docs/handover/SESSION-COMPLETE.md
  docs/handover/SESSION-HANDOVER-2025-10-03.md
  docs/rfcs/0033-observability-strategy-foundation.md
  docs/rfcs/0034-sentry-integration-error-tracking.md
  docs/rfcs/0035-opentelemetry-integration-distributed-tracing.md
Due: validate-doc-frontmatter

feat(plugins): Add Analytics plugin with backend support
  development/dotnet/console/src/plugins/WingedBean.Plugins.Analytics/AnalyticsBackend.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Analytics/AnalyticsPluginActivator.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Analytics/AnalyticsService.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Analytics/WingedBean.Plugins.Analytics.csproj
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Analytics.Tests/AnalyticsServiceTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Analytics.Tests/WingedBean.Plugins.Analytics.Tests.csproj
Due: none

feat(plugins): Add Diagnostics plugin with multi-backend support
  development/dotnet/console/src/plugins/WingedBean.Plugins.Diagnostics/DiagnosticsBackend.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Diagnostics/DiagnosticsPluginActivator.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Diagnostics/DiagnosticsService.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Diagnostics/WingedBean.Plugins.Diagnostics.csproj
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Diagnostics.Tests/DiagnosticsServiceTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Diagnostics.Tests/WingedBean.Plugins.Diagnostics.Tests.csproj
Due: none

feat(plugins): Add Resilience plugin with Polly v8
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resilience/.plugin.json
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resilience/PollyResilienceService.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resilience/README.md
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resilience/ResiliencePluginActivator.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resilience/WingedBean.Plugins.Resilience.csproj
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resilience.Tests/PollyResilienceServiceTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.Resilience.Tests/WingedBean.Plugins.Resilience.Tests.csproj
Due: none

feat(plugin-system): Add permission enforcement system
  development/dotnet/framework/src/WingedBean.PluginSystem/DefaultPluginPermissionEnforcer.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/IPluginPermissionEnforcer.cs
Due: none

refactor(plugins): Modernize ArchECS plugin code style
  development/dotnet/console/src/plugins/WingedBean.Plugins.ArchECS/ArchQuery.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ArchECS/ArchWorld.cs
Due: none

refactor(contracts): Migrate from Contracts.Pty to Contracts.Terminal/Recorder
  development/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/AsciinemaRecorder.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/AsciinemaRecorderPlugin.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/WingedBean.Plugins.AsciinemaRecorder.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonAppRefactored.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonPlugin.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/WingedBean.Plugins.ConsoleDungeon.csproj
  development/dotnet/console/tests/host/ConsoleDungeon.Host.Tests/ConsoleDungeonApp_FakeDriverTests.cs
  development/dotnet/console/tests/plugins/WingedBean.Plugins.AsciinemaRecorder.Tests/AsciinemaRecorderTests.cs
Due: none

refactor(plugins): Remove deprecated PtyService plugin
  development/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/.plugin.json
  development/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/NodePtyService.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/PtyServicePlugin.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.PtyService/WingedBean.Plugins.PtyService.csproj
Due: none

refactor(framework): Remove manual IsExternalInit polyfills, migrate to PolySharp
  development/dotnet/framework/src/WingedBean.Contracts.Config/IsExternalInit.cs
  development/dotnet/framework/src/WingedBean.Contracts.Core/IsExternalInit.cs
  development/dotnet/framework/src/WingedBean.Contracts.Game/Class1.cs
  development/dotnet/framework/src/WingedBean.Contracts.Game/IsExternalInit.cs
  development/dotnet/framework/src/WingedBean.Contracts.Input/IsExternalInit.cs
  development/dotnet/framework/src/WingedBean.Contracts.Scene/IsExternalInit.cs
Due: none

feat(contracts): Modernize ITerminalApp with IHostedService integration
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/ITerminalApp.cs
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/WingedBean.Contracts.Terminal.csproj
Due: none

build: Add build artifacts and configuration files
  development/dotnet/console/Console.sln.bak
  development/dotnet/console/src/host/ConsoleDungeon.Host/PluginLoaderHostedService.cs
  development/dotnet/console/src/host/ConsoleDungeon.Host/appsettings.json
Due: none

build: Update binary resource bundle
  development/dotnet/console/src/host/ConsoleDungeon.Host/resources/game-data.wbundle
Due: none

build: Add centralized package versions for new dependencies
  development/dotnet/Directory.Packages.props
Due: none

build: Update solution files with new projects
  development/dotnet/WingedBean.sln
  development/dotnet/console/Console.sln
Due: none

refactor(host): Migrate to .NET Generic Host and IHostedService
  development/dotnet/console/src/demos/WingedBean.Demo/Program.cs
  development/dotnet/console/src/demos/WingedBean.Demo/WingedBean.Demo.csproj
  development/dotnet/console/src/host/ConsoleDungeon.Host/ConsoleDungeon.Host.csproj
  development/dotnet/console/src/host/ConsoleDungeon.Host/Program.cs
Due: none

refactor(plugin-system): Migrate to NuGet.Versioning (RFC-0032)
  development/dotnet/framework/src/WingedBean.PluginSystem/HostBootstrap.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginDependencyResolver.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginManifest.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginRegistry.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginSecurity.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/SemanticVersion.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/WingedBean.PluginSystem.csproj
Due: none

build: Add PolySharp package to Game, Input, and Scene contracts
  development/dotnet/framework/src/WingedBean.Contracts.Game/WingedBean.Contracts.Game.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Input/WingedBean.Contracts.Input.csproj
  development/dotnet/framework/src/WingedBean.Contracts.Scene/WingedBean.Contracts.Scene.csproj
Due: none

feat: Implement RFC-0036 Platform-Agnostic Hosting Abstraction
  development/dotnet/Directory.Packages.props
  development/dotnet/console/src/host/ConsoleDungeon.Host/Program.cs
  development/dotnet/framework/Framework.sln
  development/dotnet/framework/src/WingedBean.Contracts.Hosting/IWingedBeanApp.cs
  development/dotnet/framework/src/WingedBean.Contracts.Hosting/IWingedBeanHost.cs
  development/dotnet/framework/src/WingedBean.Contracts.Hosting/WingedBean.Contracts.Hosting.csproj
  development/dotnet/framework/src/WingedBean.Contracts.TerminalUI/ITerminalApp.cs
  development/dotnet/framework/src/WingedBean.Contracts.UI/IUIApp.cs
  development/dotnet/framework/src/WingedBean.Contracts.UI/WingedBean.Contracts.UI.csproj
  development/dotnet/framework/src/WingedBean.Hosting.Console/ConsoleWingedBeanHost.cs
  development/dotnet/framework/src/WingedBean.Hosting.Console/WingedBean.Hosting.Console.csproj
  development/dotnet/framework/src/WingedBean.Hosting.Godot/GodotWingedBeanHost.cs
  development/dotnet/framework/src/WingedBean.Hosting.Godot/WingedBean.Hosting.Godot.csproj
  development/dotnet/framework/src/WingedBean.Hosting.Unity/UnityWingedBeanHost.cs
  development/dotnet/framework/src/WingedBean.Hosting.Unity/WingedBean.Hosting.Unity.csproj
  development/dotnet/framework/src/WingedBean.Hosting/WingedBean.Hosting.csproj
  development/dotnet/framework/src/WingedBean.Hosting/WingedBeanHost.cs
  docs/implementation/rfc-0036-action-checklist.md
  docs/implementation/rfc-0036-implementation-summary.md
Due: validate-issue-metadata

fix: Address compiler warnings and add basic test suite
  development/dotnet/framework/src/WingedBean.Hosting.Godot/GodotWingedBeanHost.cs
  development/dotnet/framework/src/WingedBean.Hosting.Unity/UnityWingedBeanHost.cs
  development/dotnet/framework/tests/WingedBean.Hosting.Tests/HostingTests.cs
  development/dotnet/framework/tests/WingedBean.Hosting.Tests/WingedBean.Hosting.Tests.csproj
Due: none

Refactor build system to use direct dotnet build
  build/Taskfile.yml
  build/_artifacts/.gitkeep
  build/_artifacts/dev-docs-dev.log
  build/test-tools/run-debug-mode.sh
  build/test-tools/run-normal-mode.sh
Due: none

Improve PTY service for better Terminal.Gui compatibility
  development/nodejs/pty-service/get-version.js
  development/nodejs/pty-service/server.js
  development/nodejs/pty-service/test-client.js
  development/nodejs/pty-service/test-flow.js
Due: none

Update Node.js E2E test results
  development/nodejs/test-results/.last-run.json
  development/nodejs/test-results/arrow-keys-debug-Arrow-key-d8223-each-arrow-key-individually-chromium/error-context.md
  development/nodejs/test-results/arrow-keys-debug-Arrow-key-d8223-each-arrow-key-individually-chromium/test-failed-1.png
  development/nodejs/test-results/arrow-keys-debug-Arrow-key-d8223-each-arrow-key-individually-chromium/trace.zip
  development/nodejs/test-results/arrow-keys-debug-Arrow-key-d8223-each-arrow-key-individually-chromium/video.webm
  development/nodejs/test-results/verify-dungeon-gameplay-Ve-450ef-stats-updating-in-real-time-chromium/error-context.md
  development/nodejs/test-results/verify-dungeon-gameplay-Ve-450ef-stats-updating-in-real-time-chromium/test-failed-1.png
  development/nodejs/test-results/verify-dungeon-gameplay-Ve-450ef-stats-updating-in-real-time-chromium/trace.zip
  development/nodejs/test-results/verify-dungeon-gameplay-Ve-450ef-stats-updating-in-real-time-chromium/video.webm
  development/nodejs/tests/e2e/screenshots/dungeon-gameplay-active.png
Due: none

Document RFC-0036 implementation completion
  docs/implementation/rfc-0036-completion-summary.md
  docs/implementation/rfc-0036-implementation-summary.md
Due: validate-issue-metadata

Enhance plugin system with registry injection and NuGet versioning
  development/dotnet/console/src/host/ConsoleDungeon.Host/PluginLoaderHostedService.cs
  development/dotnet/framework/src/WingedBean.PluginSystem/PluginRegistry.cs
Due: none

Improve terminal app adapter for cross-ALC compatibility
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/LegacyTerminalAppAdapter.cs
  development/dotnet/framework/src/WingedBean.Hosting.Console/ConsoleWingedBeanHost.cs
Due: none

Enhance ConsoleDungeon.Host with lifecycle management
  development/dotnet/console/src/host/ConsoleDungeon.Host/ConsoleDungeon.Host.csproj
  development/dotnet/console/src/host/ConsoleDungeon.Host/Program.cs
  development/dotnet/console/src/host/ConsoleDungeon.Host/appsettings.json
Due: none

Enhance Terminal.Gui scene provider with improved rendering
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonAppRefactored.cs
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/Scene/TerminalGuiSceneProvider.cs
Due: none

refactor: Simplify RFC-0029 implementation by removing workarounds
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/ConsoleDungeonAppRefactored.cs
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/LegacyTerminalAppAdapter.cs
  docs/implementation/rfc-0029-0036-analysis.md
  docs/implementation/rfc-0029-0036-fix-summary.md
Due: validate-issue-metadata

docs: Update RFC-0029/0036 fix summary with test results
  docs/implementation/rfc-0029-0036-fix-summary.md
Due: validate-issue-metadata

refactor: Eliminate LazyTerminalAppResolver by fixing resolution timing
  development/dotnet/console/src/host/ConsoleDungeon.Host/Program.cs
  development/dotnet/framework/src/WingedBean.Contracts.Terminal/LegacyTerminalAppAdapter.cs
  docs/implementation/di-configuration-timing-analysis.md
Due: validate-issue-metadata

docs: Add final summary of RFC-0029/0036 improvements
  docs/implementation/rfc-0029-0036-final-summary.md
Due: validate-issue-metadata

docs: Analyze contract loading - direct vs plugin
  docs/implementation/contract-loading-analysis.md
Due: validate-issue-metadata

docs: Create improvement plan for contract loading and reflection reduction
  docs/implementation/contract-loading-improvement-plan.md
Due: validate-issue-metadata

docs: Add RFC-0037 and RFC-0038 for plugin system improvements
  docs/rfcs/0037-shared-contract-loading-strategy.md
  docs/rfcs/0038-source-generator-plugin-system.md
Due: validate-doc-frontmatter

feat: Implement RFC-0037 Phase 1 - Shared Contract Loading
  development/dotnet/console/src/host/WingedBean.Host.Console/AlcPluginLoader.cs
Due: none

feat: Implement RFC-0037 Phase 2 - Update plugin project files
  development/dotnet/console/src/plugins/WingedBean.Plugins.ArchECS/WingedBean.Plugins.ArchECS.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.AsciinemaRecorder/WingedBean.Plugins.AsciinemaRecorder.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.Audio/WingedBean.Plugins.Audio.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.Config/WingedBean.Plugins.Config.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.ConsoleDungeon/WingedBean.Plugins.ConsoleDungeon.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.DungeonGame/WingedBean.Plugins.DungeonGame.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resilience/WingedBean.Plugins.Resilience.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.Resource/WingedBean.Plugins.Resource.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.TerminalUI/WingedBean.Plugins.TerminalUI.csproj
  development/dotnet/console/src/plugins/WingedBean.Plugins.WebSocket/WingedBean.Plugins.WebSocket.csproj
  development/dotnet/console/src/providers/WingedBean.Providers.Input/WingedBean.Providers.Input.csproj.bak
  development/dotnet/console/src/providers/WingedBean.Providers.TerminalGuiScene/WingedBean.Providers.TerminalGuiScene.csproj.bak
Due: none
